.login {
    background: white ;
    min-height: calc(100vh - 200px ) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login > section {
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    text-align: center ;
}

.login h1 {
    font-weight: bold ;
    font-size: 2.5rem ;
    margin:0 ;
}

.login p {
    color: rgb(104, 103, 103) ;
    font-size: 15px ;
    font-weight: bold ;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
}
.login .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    margin : 10px 0 ;
    width: 100% ;
    min-width: none ;
}

.login .css-sghohy-MuiButtonBase-root-MuiButton-root {
    width: 100% ;
    min-height: 40px ;
    margin-top: 25px ;
}